<a href="https://colab.research.google.com/github/favouroo/Tech-Crush-DS-Task-3-Coursework/blob/main/Task%203%20(ii).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Favour O Okolie- Task 3**

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
from scipy.stats import skew, kurtosis

pd.set_option('display.max_columns', None)

#### First, upload files to **Colab** using the the files directory provided in this notebook environment.
Next read every csv file that contains the daatasets to be used for the analysis

In [2]:
pizza_1 = pd.read_csv("/content/order_details.csv")
pizza_1.head(3)

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1

In [3]:
pizza_2 = pd.read_csv("/content/orders.csv")
pizza_2.head(3)

   order_id        date      time
0         1  2015-01-01  11:38:36
1         2  2015-01-01  11:57:40
2         3  2015-01-01  12:12:28

In [4]:
pizza_3 = pd.read_csv("/content/pizza_typess.csv")
pizza_3.head(3)

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."

In [5]:
pizza_4 = pd.read_csv("/content/pizzas.csv")
pizza_4.head(3)

    pizza_id pizza_type_id size  price
0  bbq_ckn_s       bbq_ckn    S  12.75
1  bbq_ckn_m       bbq_ckn    M  16.75
2  bbq_ckn_l       bbq_ckn    L  20.75

#### **Merge all files using inner join**.
Using the inner join in the .merge() method is so that only related rows are preserved.

For this dataset, inner join is best because we can join the datasets on common key(column) and also keep rows with matching values.

This is an important step because for this project, we cannot work with so many datasets but one harmonized one provides us with all the information we'll need.

In [6]:
pizza_1_2 = pizza_1.merge(pizza_2, on="order_id", how = "inner")
pizza_1_2.head(3)

   order_details_id  order_id       pizza_id  quantity        date      time
0                 1         1     hawaiian_m         1  2015-01-01  11:38:36
1                 2         2  classic_dlx_m         1  2015-01-01  11:57:40
2                 3         2  five_cheese_l         1  2015-01-01  11:57:40

In [7]:
pizza_3_4 = pizza_3.merge(pizza_4, on="pizza_type_id", how = "inner")
pizza_3_4.head()

,pizza_type_id,name,category,ingredients,pizza_id,size,price
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_s,S,12.75
1,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_m,M,16.75
2,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_l,L,20.75
3,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",cali_ckn_s,S,12.75
4,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",cali_ckn_m,M,16.75

In [8]:
#join the final file
all_pizza = pizza_3_4.merge(pizza_1_2, on="pizza_id", how = "inner")
all_pizza.head(3)

,pizza_type_id,name,category,ingredients,pizza_id,size,price,order_details_id,order_id,quantity,date,time
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_s,S,12.75,11,6,1,2015-01-01,12:29:36
1,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_s,S,12.75,239,102,1,2015-01-02,17:54:04
2,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_s,S,12.75,294,124,1,2015-01-02,20:12:34

### **Data Cleaning**
This is where data is checked for various operations. Different methods and attributes sare used on the dataframe to check for anomalies, formatting and irregularities.

In [9]:
all_pizza.shape #checks rows and columns

(48620, 12)

In [10]:
all_pizza.info() #checks overview of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pizza_type_id     48620 non-null  object
 1   name              48620 non-null  object
 2   category          48620 non-null  object
 3   ingredients       48620 non-null  object
 4   pizza_id          48620 non-null  object
 5   size              48620 non-null  object
 6   price             48620 non-null  float64
 7   order_details_id  48620 non-null  int64
 8   order_id          48620 non-null  int64
 9   quantity          48620 non-null  int64
 10  date              48620 non-null  object
 11  time              48620 non-null  object
dtypes: float64(1), int64(3), object(8)
memory usage: 4.5+ MB

In [11]:
all_pizza.isna().sum() #checks for null values

pizza_type_id       0
name                0
category            0
ingredients         0
pizza_id            0
size                0
price               0
order_details_id    0
order_id            0
quantity            0
date                0
time                0
dtype: int64

In [12]:
all_pizza["date"].dtype #checks datatype of columns and reassign to accurate datatype

dtype('O')

In [13]:
all_pizza["time"].dtype

dtype('O')

In [14]:
all_pizza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pizza_type_id     48620 non-null  object
 1   name              48620 non-null  object
 2   category          48620 non-null  object
 3   ingredients       48620 non-null  object
 4   pizza_id          48620 non-null  object
 5   size              48620 non-null  object
 6   price             48620 non-null  float64
 7   order_details_id  48620 non-null  int64
 8   order_id          48620 non-null  int64
 9   quantity          48620 non-null  int64
 10  date              48620 non-null  object
 11  time              48620 non-null  object
dtypes: float64(1), int64(3), object(8)
memory usage: 4.5+ MB

In [15]:
all_pizza.duplicated().sum() #checks for duplicates

np.int64(0)

In [16]:
all_pizza.head(3) #sees top 3 rows

,pizza_type_id,name,category,ingredients,pizza_id,size,price,order_details_id,order_id,quantity,date,time
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_s,S,12.75,11,6,1,2015-01-01,12:29:36
1,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_s,S,12.75,239,102,1,2015-01-02,17:54:04
2,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_s,S,12.75,294,124,1,2015-01-02,20:12:34

In [17]:
all_pizza = all_pizza[["order_details_id", "order_id", "date", "time", "pizza_type_id", "pizza_id", "name", "category", "ingredients", "size", "price", "quantity"]]
all_pizza.head(3) #I reordered the columns based on hoow I felt I needed them to appear

,order_details_id,order_id,date,time,pizza_type_id,pizza_id,name,category,ingredients,size,price,quantity
0,11,6,2015-01-01,12:29:36,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1
1,239,102,2015-01-02,17:54:04,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1
2,294,124,2015-01-02,20:12:34,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1

In [18]:
#to make analysis easier, create a table with both date and time and store as a datetime datatype
convert_to_dt = all_pizza["date"].astype(str) + " " + all_pizza["time"].astype(str)
all_pizza["transaction date"] = pd.to_datetime(convert_to_dt)
all_pizza.head(3)

,order_details_id,order_id,date,time,pizza_type_id,pizza_id,name,category,ingredients,size,price,quantity,transaction date
0,11,6,2015-01-01,12:29:36,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1,2015-01-01 12:29:36
1,239,102,2015-01-02,17:54:04,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1,2015-01-02 17:54:04
2,294,124,2015-01-02,20:12:34,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1,2015-01-02 20:12:34

In [19]:
#now drop date and time column
all_pizza.drop(columns=["date", "time"], inplace= True)
all_pizza.head(3)

,order_details_id,order_id,pizza_type_id,pizza_id,name,category,ingredients,size,price,quantity,transaction date
0,11,6,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1,2015-01-01 12:29:36
1,239,102,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1,2015-01-02 17:54:04
2,294,124,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1,2015-01-02 20:12:34

In [20]:
#to change the position of transaction date to index 2, using the pop and insert method
col_td_2 = all_pizza.pop("transaction date")
all_pizza.insert(2, "transaction date", col_td_2)
all_pizza.head(3)

,order_details_id,order_id,transaction date,pizza_type_id,pizza_id,name,category,ingredients,size,price,quantity
0,11,6,2015-01-01 12:29:36,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1
1,239,102,2015-01-02 17:54:04,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1
2,294,124,2015-01-02 20:12:34,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1

In [21]:
all_pizza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   transaction date  48620 non-null  datetime64[ns]
 3   pizza_type_id     48620 non-null  object
 4   pizza_id          48620 non-null  object
 5   name              48620 non-null  object
 6   category          48620 non-null  object
 7   ingredients       48620 non-null  object
 8   size              48620 non-null  object
 9   price             48620 non-null  float64
 10  quantity          48620 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 4.1+ MB

In [22]:
#now save data into a new csv file This is the file I'll use for analysis
all_pizza.to_csv("all_pizza_data.csv", index= False)

In [23]:
all_pizza.copy()

,order_details_id,order_id,transaction date,pizza_type_id,pizza_id,name,category,ingredients,size,price,quantity
0,11,6,2015-01-01 12:29:36,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1
1,239,102,2015-01-02 17:54:04,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1
2,294,124,2015-01-02 20:12:34,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1
3,458,194,2015-01-03 21:21:24,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1
4,489,208,2015-01-04 12:12:05,bbq_ckn,bbq_ckn_s,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",S,12.75,1
...,...,...,...,...,...,...,...,...,...,...,...
48615,48341,21230,2015-12-29 14:43:26,veggie_veg,veggie_veg_l,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",L,20.25,1
48616,48452,21278,2015-12-31 11:22:31,veggie_veg,veggie_veg_l,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",L,20.25,1
48617,48523,21305,2015-12-31 16:31:16,veggie_veg,veggie_veg_l,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",L,20.25,1
48618,48548,21317,2015-12-31 18:01:42,veggie_veg,veggie_veg_l,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",L,20.25,1
48619,48588,21336,2015-12-31 19:19:26,veggie_veg,veggie_veg_l,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",L,20.25,1

In [24]:
all_pizza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   transaction date  48620 non-null  datetime64[ns]
 3   pizza_type_id     48620 non-null  object
 4   pizza_id          48620 non-null  object
 5   name              48620 non-null  object
 6   category          48620 non-null  object
 7   ingredients       48620 non-null  object
 8   size              48620 non-null  object
 9   price             48620 non-null  float64
 10  quantity          48620 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 4.1+ MB